.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 143px;
  }

  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  body > #welcome{
    height: auto;
    margin-bottom: 10px;
  }
  #profile{
    display: flex;
    align-items: center;
  }
 
  #profile p{
    margin-bottom: 0;
    padding: 5px 10px;
    margin-right: 10px;
    transition: all 0.2s ease-in-out;
    color: black;
    cursor: pointer;
    border-radius: 20px;
  }
  #profile p:hover{
    margin-bottom: 0;
    margin-right: 10px;
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    font-weight: bold;
  }
  #checkboxes {
    padding: 10px;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    background: white;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.507);
  }
  #checkboxes label {
    display: block;
    padding: 5px;
  }
  #checkboxes label:hover {
    background-color: #1e8fff70;
    border-radius: 10px;
  }
  form input{
    border-radius: 5px;
    outline: none;
    padding: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.322);
  }
  form #submitEdit{
    transition: all 0.2s ease-in-out;
    background-color: #6b3186;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
  }
  form #submitEdit:hover{
    background-color: #8d2eb6;
  }
  .sorting_1{
    display: flex;
    justify-content: center;
  }
  .sorting_1 button{
    margin: 3px;
  }
  .selectTables{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    position: sticky;
    top: 2px;
}
td{
  font-size: 13px;
}
th{
  font-size: 12px;
  color: white;
}
#tablesDiv > div{
  background-color: rgba(255, 255, 255, 0.377);
  padding: 15px 5px 0 5px;
  border-radius: 20px;
  width: 90%;
  margin:15px auto;
}
form{
  display: flex;
  flex-wrap: wrap;
justify-content: space-around;
}
.editInputs{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.editInputs input{
width: 200px;  
}

.charts{
  width: 50%;
  margin: 50px auto;
  background-color: white;
  box-shadow: inset 0px 0px 10px #141E30;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.entriesChartDiv, .mostLikedChartDiv{
  padding: 30px;
  width: 50%;
  margin: auto;
}
#loginChart{
  height: 100px;
background-color: rgba(107, 49, 134, 0.808);
}
.blueBtn {
  background-color: rgb(16, 162, 230);
  color:white;
}