.slider{
    width: 700px;
    height: 450px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.603);
    overflow: hidden;
}

.slides{
    width: 100%;
    height: 100%;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 100%;
    transition: all 0.7s ease-in-out;
}

.slide img{
    width: 700px;
    height: 450px;
}

.navigation-manual{
    position: absolute;
    width: 100%;
    top: 15px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    box-shadow: 0 0 5px black; 
    background-color: rgba(122, 122, 122, 0.4); 
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.manual-btn:not(:last-child){
    margin-right: 15px;
}

.manual-btn:hover{
    background: rgb(82, 82, 82);
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}
#radio5:checked ~ .first{
    margin-left: -400%;
}

.navigation-auto{
    position: absolute;
    top: 15px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.navigation-auto div{
    padding: 5px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.navigation-auto div:not(:last-child){
    margin-right: 15px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: white;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: white;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: white;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: white;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: white;
}

#leftBTN{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 5%;
    transform:  rotateX(180deg) translateY(-50%);
    height: 30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
#rightBTN{
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    height: 30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

